* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: sans-serif;
}
/* Mobile first */
.container {
    background-color: red;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}
/*Tablet*/
@media screen and (min-width:768px) /*and (max-width:991px)*/ {
    .container {
        background-color: rgb(255, 136, 0);
        width:700px;

    }
}
/* Desktop */
@media screen and (min-width:992px) {
    .container {
        background-color: rgb(230, 208, 14);
        width: 900px;
    }
}
/*Desktop Big */
@media screen and (min-width:1200px) {
    .container{
       background-color: rgb(5, 236, 5);
       width:1100px;
    }
}
